
body {
    background-color: rgb(186, 186, 190);
    margin: 20px;
}
h1.mainHeader {
 color: blue;
 font-size: 44px;
 font-weight: bold;
 text-align: center;
}

h3, #aboutMeIntro {
    font-weight: bold;
    font-size: 28px;
    margin-bottom:10px;
}

.aboutMe {
    margin-left: 100px;
    margin-right: 300px;
    padding: 25px; 
    border: 2px, red, solid; 
}

div.aboutMe {
    background-color:white;
    position: absolute;
    float: left;
    margin-left: 5%;
    margin-right: 40%;
    margin-top: 10px;
}

p span {
    color:red;
    font-weight: bolder;
}

p {
    font-size: 18px;
}

div.work, li {
    padding-left: 20px;
    position: relative;
}

div.work {
    background-color: rgb(216, 219, 230);
    position: absolute;
    float:left;
    margin-top: 10px;
    margin-left: 60%;
    padding:25px;
}

h2 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}
div.favoriteRestaurants {
    background-color: rgb(169, 212, 169);
    margin-top: 10px;
    margin-left: 76%;
    margin-right: 10%;
    padding:25px;
}

ul.workExperience li {
    list-style: circle;
    padding-left: 20px;
}


ol, li{
    list-style-type: decimal;
    padding-left: 20px;
}

.connectWithChuck {
    margin-top: 100px;
    margin-bottom: 5px;   
    font-size: 16px;
    margin-left: 100px;
} 

.images {
    margin-left: 100px;
}

